.container > img {
    absolute; width: 13%;
    height: 13%;
    float: left;
    margin-left: 20px;
    margin-right: 20px
}

.container > h5 {
    color: black;
    text-align: left;
    text-align: justify;
    font-family: courier
}

.w3-panel.w3-card > p {
    text-align: center;
    font-size: 13px
}

.w3-card > img {
    width: 100%
}

.w3-card > img {
    width: 100%
}

.w3-card > img {
    width: 100%
}

.w3-card > img {
    width: 100%
}

.w3-card > img {
    width: 100%
}

.w3-card > img {
    width: 100%
}

.w3-panel.w3-card > p {
    text-align: center;
    font-size: 13px
}

.w3-col.s4.w3-white.w3-center > p {
    font-color: black;
    font-size: 20px
}

.w3-card > img {
    width: 100%
}

.w3-container > h6 {
    font-color: black
}

.w3-container > p {
    font-color: black
}

.w3-col.s4.w3-white.w3-center > p {
    font-color: black;
    font-size: 20px
}

.w3-card > img {
    width: 100%
}

.w3-container > h6 {
    font-color: black
}

.w3-container > p {
    font-color: black
}

.w3-col.s4.w3-white.w3-center > p {
    font-color: black;
    font-size: 20px
}

.w3-card > img {
    width: 100%
}

.w3-container > h6 {
    font-color: black
}

.w3-container > p {
    font-color: black
}

.w3-panel.w3-card > p {
    text-align: center;
    font-size: 13px
}

.w3-card > img {
    width: 100%
}

.w3-card > img {
    width: 100%
}

.w3-card > img {
    width: 100%
}

.container > img {
    absolute; width: 20%;
    height: 20%;
    float: right;
    margin-left: 20px;
    margin-right: 20px
}

.container > h5 {
    color: black;
    text-align: left;
    text-align: justify;
    font-family: courier
}

.w3-card > img {
    width: 100%
}

.w3-card > img {
    width: 100%
}

.w3-card > img {
    width: 100%
}

.container {
}

.w3-ul.w3-card-4 {
}

.w3-display-container {
}

.w3-button.w3-transparent.w3-display-right {
}

.w3-container.w3-margin.w3-white {
}

.w3-panel.w3-card {
}

.w3-row-padding.w3-margin {
}

.w3-third {
}

.w3-card {
}

.w3-container {
}

.w3-row.w3-margin {
}

.w3-col.s4.w3-white.w3-center {
}

.w3-bar-item.w3-hover-gray {
}